#fefm-wrap > ul, #fefm-wrap > ul > li {
	padding: 0;
	margin: 0;
	list-style: none;
}
ul#fefm-controls {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}
ul#fefm-controls li {
	margin:0 15px 0 0;
}

.fefm-controls-btn {
    padding: 5px 15px;
    border-radius: 4px;
    background: #512DA8;
    color: #fff;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    display: block;
    font-size: 13px;
}
.fefm-controls-btn:focus,
.fefm-controls-btn:active,
.fefm-controls-btn:hover {
	color: #f5f5f5;
}
ul#fefm-wrap-ul {
	border: 1px solid #ddd;
    margin-bottom: 25px;
}
ul#fefm-navigation{
	background: #eee;
    padding: 5px 10px;
    box-shadow: 0px 5px 20px -10px #444444;
    position: relative;
    border: 1px solid #ddd;
}
#fefm-wrap > ul{
}
#fefm-wrap li.file-item {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    background: #fff;
    position: relative;
    font-size: 14px;
}
#fefm-wrap li.file-item:hover{
    box-shadow: inset 1px 0px 0px 1px #673ab77a;
}
#fefm-wrap li.file-item:nth-child(even) {
	background: #f9f9f9;
}
#fefm-wrap li.file-item .file-item-column {
    flex-basis: 20%;
    overflow: hidden;
    margin: 0 10px;
}

#fefm-wrap li.file-item .file-item-column.file-thumb {
	flex-basis: 5%;
	margin: 0;
}

#fefm-wrap li.file-item .file-item-column.file-check-selector { flex-basis: 15px;}
#fefm-wrap li.file-item .file-item-column.file-label { flex-basis: 40%;}
#fefm-wrap li.file-item .file-item-column.file-actions { flex-basis: 12%;}/*@todo make this 5%*/
#fefm-wrap li.file-item .file-item-column.file-sharing-type { flex-basis: 10%;}
#fefm-wrap li.file-item .file-item-column.file-label a {color: inherit;}
.file-item-column-file-actions-dropdown{
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-image: url(../images/file-type-icons/ellipsis-h.svg);
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
    background-size: 12px;
    width: 30px;
    float: right;
}

ul.file-item-column-file-actions-dropdown-ul {
    position: absolute;
    top: 45px;
    right: 45px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 4px #ddd;
    padding: 0;
    z-index: 20;
    display: none;
    width: 135px;
}
ul.file-item-column-file-actions-dropdown-ul.active {
    display: block;
}

ul.file-item-column-file-actions-dropdown-ul > li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.file-item-column-file-actions-dropdown-ul > li > a {
padding: 2.5px 15px;
    display: block;
    color: #212121;
    font-size: smaller;
}

.fefm-toolbar-close {
    background: #fbfbfb;
    color: #F44336;
    border-top: 1px solid #ddd;
}

#fefm-wrap {position: relative;}

ul#fefm-uploader-file-list {
    z-index: 20;
    background: #fff;
    top: 0;
    padding: 0 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}
ul#fefm-uploader-file-list:empty { display: none; }

ul#fefm-uploader-file-list li {
    font-size: 14px;
    padding: 5px 10px;
    background: #ffffff;
    margin: 0 -20px;
    border: 1px solid #eee;
    margin-bottom: -1px;
}

/**
 * Pagination
 */
div#fefm-pagination-inner-wrap ul#fefm-paging-ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
div#fefm-pagination-inner-wrap ul#fefm-paging-ul li{
    list-style: none;
    flex-basis: 30px;
    text-align: center;
    margin-right: 10px;
    position: relative;
}
div#fefm-pagination-inner-wrap ul#fefm-paging-ul li > a {
    border-radius: 7px;
    background: #fff;
    width: 100%;
    display: block;
    color: #777;
    font-size: 12px;
    border: 2px solid #dcdcdc;
    position: relative;
    line-height: 2;
}
div#fefm-pagination-inner-wrap ul#fefm-paging-ul li > a > span {
    padding: 0 10px;
    display: inline-block;
    width: 85px;
}
div#fefm-pagination-inner-wrap ul#fefm-paging-ul li > a > span.next {
    width: 65px;
}
div#fefm-pagination-inner-wrap ul#fefm-paging-ul li:hover > a,
div#fefm-pagination-inner-wrap ul#fefm-paging-ul li.active > a {
    color: #512DA8;
    border-color: #512DA8;
    font-weight: bold;
}

div#fefm-pagination-inner-wrap ul#fefm-paging-ul li:hover > a.disabled,
div#fefm-pagination-inner-wrap ul#fefm-paging-ul li > a.disabled {
    border-color: #dcdcdc;
    color: #dcdcdc;
    cursor: not-allowed;
}

