#fefm-wrap {
    position: relative;
}
#fefm-wrap > ul, #fefm-wrap > ul > li {
	padding: 0;
	margin: 0;
	list-style: none;
}
ul#fefm-controls {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}
ul#fefm-controls li {
	margin:0 15px 0 0;
}

.fefm-controls-btn {
    padding: 5px 15px;
    border-radius: 4px;
    background: #512DA8;
    color: #fff;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    display: block;
    font-size: 13px;
}
.fefm-controls-btn:focus,
.fefm-controls-btn:active,
.fefm-controls-btn:hover {
	color: #f5f5f5;
}
#fefm-file-window {
    margin: 0 0 25px 0;
    position: relative;
}
#fefm-file-window ul#fefm-wrap-ul {
	border: 1px solid #ddd;
    margin-bottom: 25px;
    min-height: 200px;
    background: #eee;
    padding: 0;
    margin: 0;
}
 ul#fefm-navigation{
	background: #eee;
    padding: 5px 5px 5px 20px;
    box-shadow: 0px 5px 20px -10px #444444;
    position: relative;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
}

#fefm-wrap li.file-item {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    background: #fff;
    position: relative;
    font-size: 13px;
    margin: 0;
    z-index: 56;
}
#fefm-wrap li.file-item.active:nth-child(even),
#fefm-wrap li.file-item.active {
    background: #b5e5ff;
    border-bottom: 1px solid #94daff;
}
#fefm-wrap li.file-item a { color: #212121; }
#fefm-wrap li.file-item:hover{
    box-shadow: inset 0px 0px 0px 1px #673ab77a;
}
#fefm-wrap li.file-item:nth-child(even) {
	background: #f9f9f9;
}
#fefm-wrap li.file-item .file-item-column {
    flex-basis: 20%;
    overflow: hidden;
    margin: 0 10px;
}

#fefm-wrap li.file-item .file-item-column.file-thumb {
	flex-basis: 5%;
	margin: 0;
}

#fefm-wrap li.file-item .file-item-column.file-check-selector { flex-basis: 15px;}
#fefm-wrap li.file-item .file-item-column.file-label { flex-basis: 40%;}
#fefm-wrap li.file-item .file-item-column.file-actions { flex-basis: 12%; }/*@todo make this 5%*/
#fefm-wrap li.file-item .file-item-column.file-sharing-type { flex-basis: 10%; text-transform: capitalize; }
#fefm-wrap li.file-item .file-item-column.file-label a {color: inherit;}
.file-item-column-file-actions-dropdown{
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-image: url(../images/file-type-icons/ellipsis-h.svg);
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
    background-size: 12px;
    width: 30px;
    float: right;
}

ul.file-item-column-file-actions-dropdown-ul {
    position: absolute;
    top: 45px;
    right: 45px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 4px #ddd;
    padding: 0;
    z-index: 20;
    display: none;
    width: 135px;
}
ul.file-item-column-file-actions-dropdown-ul.active {
    display: block;
}

ul.file-item-column-file-actions-dropdown-ul > li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.file-item-column-file-actions-dropdown-ul > li > a {
    padding: 5px 15px;
    display: block;
    color: #212121;
    font-size: smaller;
}

ul.file-item-column-file-actions-dropdown-ul > li > a:hover {
    background: #eee;
}

.fefm-toolbar-close {
    background: #fbfbfb;
    color: #F44336;
    border-top: 1px solid #ddd;
}

#fefm-wrap {position: relative;}

ul#fefm-uploader-file-list {
    z-index: 20;
    background: #fff;
    top: 0;
    padding: 0 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}
ul#fefm-uploader-file-list:empty { display: none; }

ul#fefm-uploader-file-list li {
    font-size: 14px;
    padding: 5px 10px;
    background: #ffffff;
    margin: 0 -20px;
    border: 1px solid #eee;
    margin-bottom: -1px;
}

/**
 * Pagination
 */
div#fefm-pagination-inner-wrap ul#fefm-paging-ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
div#fefm-pagination-inner-wrap ul#fefm-paging-ul li{
    list-style: none;
    flex-basis: 30px;
    text-align: center;
    margin-right: 10px;
    position: relative;
}
div#fefm-pagination-inner-wrap ul#fefm-paging-ul li > a {
    border-radius: 7px;
    background: #fff;
    width: 100%;
    display: block;
    color: #777;
    font-size: 12px;
    border: 2px solid #dcdcdc;
    position: relative;
    line-height: 2;
}
div#fefm-pagination-inner-wrap ul#fefm-paging-ul li > a > span {
    padding: 0 10px;
    display: inline-block;
    width: 85px;
}
div#fefm-pagination-inner-wrap ul#fefm-paging-ul li > a > span.next {
    width: 65px;
}
div#fefm-pagination-inner-wrap ul#fefm-paging-ul li:hover > a,
div#fefm-pagination-inner-wrap ul#fefm-paging-ul li.active > a {
    color: #512DA8;
    border-color: #512DA8;
    font-weight: bold;
}

div#fefm-pagination-inner-wrap ul#fefm-paging-ul li:hover > a.disabled,
div#fefm-pagination-inner-wrap ul#fefm-paging-ul li > a.disabled {
    border-color: #dcdcdc;
    color: #dcdcdc;
    cursor: not-allowed;
}
/**
 * Actions
 */
ul#fefm-file-actions {
    display: flex;
    background: #ececec;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    font-size: 13px;
    padding: 10px;
    font-weight: bold;
}
ul#fefm-file-actions > li { margin: 0 10px; }

ul#fefm-file-actions .file-actions-check-selector { flex-basis: 15px; }
ul#fefm-file-actions .file-actions-check-title { flex-basis: 45%; margin-left: 5px;}
ul#fefm-file-actions .file-actions-check-last-modified { flex-basis: 20%; }
ul#fefm-file-actions .file-actions-check-actions { flex-basis: 12%; text-align: right;}
ul#fefm-file-actions .file-actions-check-sharing-type { flex-basis: 10%; }

#fefm-file-dir-search {
    background: #f9f9f9;
    border-radius: 4px;
    padding: 5px 25px 5px 5px;
    height: 32px;
    font-size: 14px;
    text-align: center;
    max-width: 170px;
    margin: 0;
    box-shadow: 0px 1px 1px 0px #9e9e9e;
    min-height: 0;
}
#fefm-file-dir-search:focus{
    text-align: left;
}
.fefm-search-dir-wrap {
    text-align: right;
}
.fefm-search-dir-inner-wrap{
    display: inline-block;
    position: relative;
}

#fefm-navigation li {
    flex-basis: 50%;
}

#fefm-search-close-search {
    position: absolute;
    top: 7.5px;
    right: 7.5px;
    color: #ffffff;
    padding: 1px 0 0 0;
    width: 15px;
    background: #444;
    text-align: center;
    line-height: 1;
    border-radius: 50%;
    height: 15px;
    font-size: 11px;
    cursor: pointer;
    display: none;
}
#fefm-search-close-search.active {
    display: block;
}
.fefm-action-sort.active {
    border-bottom: 1px solid;
}
.fefm-action-sort.active:after{
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.fefm-action-sort.active.asc:after{
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 0 none;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

#fefm-preloader {
    position: absolute;
    width: 400px;
    border-radius: 4px;
    background: rgba(0,0,0,0.85);
    padding: 5px 10px;
    left: calc(50% - 200px);
    box-shadow: 0px 1px 4px #212121;
    color: #fff;
    border: 2px solid #000000;
    font-size: 13px;
    transition: all 0.25s ease-in-out;
    opacity: 0;
    bottom: -25px;
}

#fefm-preloader.active {
    opacity: 1;
    bottom: 25px;
}

#fefm-preloader p {
    margin: 0;
}

#fefm-pagination-wrap {
    margin-bottom: 25px;
}

.fefm-bulk-actions {
    text-align: center;
    opacity: 0.15;
    pointer-events: none;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 3px #e0e0e0;
    padding: 0;
    background: #f5f5f5;
    transition: all 0.25s ease-in-out;
}

.fefm-bulk-actions.active {
    opacity: 1;
    pointer-events: auto;
}

.fefm-bulk-actions .fefm-bulk-actions-item{
    padding: 5px 10px;
    display: inline-block;
    border-right: 1px solid #dddddd;
}
.fefm-bulk-actions .fefm-bulk-actions-item:first-child {
    border-left: 0 none;
}
.fefm-bulk-actions .fefm-bulk-actions-item:last-child {
    margin-right: 0;
    border-right: 0;
}

p.fefm-no-files-found {
    display: none;
    margin: 0;
    background: transparent;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 20;
    color: #000000;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 20px;
    text-shadow: 0px 0px 1px #e8e5e5;
}

p.fefm-no-files-found.active {
    display: block;
}

